{% extends "base.html" %}
{% block content %}
<!-- Developed over the pass-time of the project -->
<iframe src="https://www.silvergames.com/en/quake/iframe" width="1920" height="1080" style="margin:0;padding:0;border:0"></iframe>
<p style="text-align:center"><a href="https://www.silvergames.com/en/quake" rel="nofollow" target="_blank">Quake Flash</a> / <a href="https://www.silvergames.com/en/t/monster" rel="nofollow" target="_blank">Monster Games</a></p>
<!-- End of game embed code -->
{% endblock content %}
